body{
	padding-top: 100px;
	background-color: #fff;
}




.banner{
	height: 301px;
	position: relative;
	background-image: url(../img/gradient_menu.png);
}

header{
	height: 100px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ff5346 ;
	
}
nav{
	float: right;
	
}
.wrapper{
	width: 300px;
	height: 300px;
	margin-left: 50px;	
}
.slick-prev:before,
    .slick-next:before {
    background-color: white;
   
    
    
    
    }
    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }
    .slick-dots{
    	color:green;
    }
.slick-prev{
	
	
}
.slick-prev:before
{
    content: url(../img/arrow-left.png);
}
 .slick-prev:before
{
    content: url(../img/arrow-left.png);
}
.slick-next:before
{
    content: '→';
}
 .slick-next:before
{
    content: '←';
    }
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
    color: red;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
